.container {
  padding: 20px;
  overflow-x: auto; /* Allows horizontal scrolling */
  background-color: #F7F7F7;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Responsive grid */
  gap: 20px; /* Space between cards */
  justify-items: center; /* Center the cards */
  align-items: stretch; /* Stretch cards to fill the grid cell */
}

.parking-card {
  width: 100%;
  max-width: 300px; /* Max card width */
}
