.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #e5e5e5;
}

.logo {
  color: #ff385c;
  font-size: 1.5rem;
  font-weight: bold;
}

.searchInput {
  border: none;
  outline: none;
  padding: 0 0.5rem;
}

.searchIcon {
  color: white;
  background-color: #ff385c;
  padding: 0.25rem;
  border-radius: 9999px;
}

.userOptions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.userIcon {
  border: 1px solid #e5e5e5;
  border-radius: 9999px;
  padding: 0.5rem;
}
